<mat-card class="main-card">
    <mat-card-header>
        <p routerLink=""> <img src="../../assets/icons/logo_initdev/shapes/d_arrow_up.png" class="icon-home"> Home</p> 
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon matSuffix>contact_support</mat-icon><span class="span-header">Contactenos</span>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            <span class="span-header">Contactenos</span>
        </mat-card-title>
        <br>
    </mat-card-content>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:2">
            <mat-grid-tile>
                <div style="text-align: center;"><img src="../../../assets/icons/logo_initdev/contac-form.png"
                        width="90%"></div>
            </mat-grid-tile>
            <mat-grid-tile>
                <form class="example-form">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Compania</mat-label>
                        <input matInput disabled style="text-align: center;"> 
                        <div style="text-align: center;"><img src=".../../../../assets/icons/logo_initdev/with_alpha/positive/horizontal_positive_2.png" width="100px"></div>
                    </mat-form-field>

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Celular</mat-label>
                                    <!-- <span matPrefix placeholder="+54"></span> -->
                                    <input type="tel" matInput placeholder="299-555-7777">
                                    <mat-icon matSuffix>phone</mat-icon>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput>
                                    <mat-icon matSuffix>mail</mat-icon>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Preguntas</mat-label>
                            <textarea matInput placeholder="Cualquier inquietud, no dudes en preguntar"></textarea>
                            <mat-icon matSuffix>question_answer</mat-icon>
                        </mat-form-field>
                        <button mat-raised-button>
                            <mat-icon>send</mat-icon> Enviar
                        </button>
                    </p>
                </form>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-footer style="text-align: center;">
        <div class="example-header-logo-footer">
            <a button mat-button href="https://www.facebook.com/InitDev">
                <span class="iconify" data-icon="mdi-facebook" data-inline="false" style="color: #000000;" width="30px">
                </span>
            </a>
            <a button mat-button href="https://www.instagram.com/initdevsistemas/">
                <span class="iconify" data-icon="mdi-instagram" data-inline="false" style="color: #000000;"
                    width="30px"></span>
            </a>
        </div>
        © INIT. Todos los derechos reservados INIT
    </mat-card-footer>
</mat-card>