.main-card{
    max-width: 100%;
}
.mat-card-header{
    color: #51585f;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
}
.span-header{
  color: #eba308;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.icon-home{
  width: 20px;
}

.example-full-width {
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
}

td {
  padding-right: 8px;
}

.mat-raised-button{
  background-color: #eba308;
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
}

.mat-card-footer{
    font-family: inherit;
    font-weight: 600;
    font-size: 1.0rem;
    text-align: right;
    margin-block-end: auto;
  }
  .mat-card-footer{
    background-size: cover;
  }
  .example-header-logo-footer {
    background-size: cover;
  }
  .iconfy{
    background: url('https://api.iconify.design/mdi-instagram.svg') no-repeat center center / contain;
    background: url('https://api.iconify.design/mdi-facebook.svg') no-repeat center center / contain;
  }