<mat-card class="main-card">
    <!------------------------TITLE CONTENT------------------------------------->
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Nuestro <span class="span-header">Negocio</span>
        </mat-card-title>
    </mat-card-content>
    <!-----------------------MAIN CONTENT-------------------------------------->
    <mat-card-content>
        <table class="table-content" cellspacing="0">
            <tr>
                <td>
                    <div style="text-align: center;"><img mat-card-image
                            src="../../../assets/icons/logo_initdev/banner.png" class="img"></div>
                </td>
                <td>
                    <p style="text-align: center;">Te mostramos aquí un poco de lo que somos y que hacemos en INIT</p>
                    <div style="text-align: center;"><button mat-flat-button class="about-button" routerLink="about">Mas
                            Información</button></div>
                </td>
            </tr>
        </table>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <mat-card-title class="mat-display-1" style="text-align: center;">
                <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
                Consultoria Empresarial
            </mat-card-title>
        </mat-card-content>
        <mat-card-content>
            <table class="table-services" cellspacing="0" style="text-align: center;">
                <tr>
                    10 años de experiencia en la industria
                </tr>
            </table>
            <br>
            <table class="table-services-description" cellspacing="0" style="text-align: center;">
                <tr>
                    Hace 10 años INIT empezó como una empresa de soporte técnico y con el pasar de los años
                    decidimos especializar la e ir incorporando divisiones como Ciberseguridad, Inteligencia
                    Artificial
                    así como un Software para gestión comercial.
                </tr>
            </table>
        </mat-card-content>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div style="text-align: center;"><img
                            src="../../../assets/icons/logo_initdev/consultoria-empresarial.png" class="img-content">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="cyber-card-2">
                        <table class="no-full-width" cellspacing="0">
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Ciberseguridad
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Soporte Técnico
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Software de Gestión Comercial
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Growth Hacking o Soluciones Creativas
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Machine Learning o Inteligencia Artificial
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Desarrollo de Pagina Web y de Apps
                            </tr>
                            <tr>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Integraciones con WooCommerce
                            </tr>
                        </table>
                        <br>
                        <p>
                            <button mat-flat-button class="about-button">Mas Información</button>
                        </p>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>

    </mat-card-content>
    <!-----------------------SECOND CONTENT-------------------------------------->
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Nuestros <span class="span-header">Servicios</span>
        </mat-card-title>
    </mat-card-content>
    <mat-card-content>
        <table class="table-services" cellspacing="0" style="text-align: center;">
            <tr>
                Nuestros nuevos servicios en este 2020, y los que vendrán para el 2021
            </tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-content>
        <table class="table-services-main" cellspacing="0">
            <tr>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="example-header-icon">
                                <mat-icon>insert_chart_outlined</mat-icon>
                            </div>
                            <mat-card-title>Ciberseguridad</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Somos una pyme Certificada en Ciberseguridad en la zona de Neuquén y Rio Negro
                            </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="example-header-icon">
                                <mat-icon>monetization_on</mat-icon>
                            </div>
                            <mat-card-title>Growth Hacking / Soluciones Creativas</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Estamos Certificado en programar soluciones creativas para resolver problemas de la vida
                                real
                            </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="example-header-icon">
                                <mat-icon>highlight</mat-icon>
                            </div>
                            <mat-card-title>Machine Learning</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Cuyo objetivo es desarrollar técnicas que permitan que las computadoras aprendan
                            </p>
                        </mat-card-content>
                    </mat-card>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <!-----------------------THDIR CONTENT-------------------------------------->
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Algunos de los proyectos <span class="span-header">realizados</span>
        </mat-card-title>
        <br>
    </mat-card-content>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div style="text-align: center;"><img src="../../../assets/icons/logo_initdev/contac-form.png"
                        class="img-content"></div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cyber-card-proyect">
                    <mat-card-title style="text-align: center;">
                        Son 10 años de crecimiento y evolución, no es tiempo perdido, es tiempo aprendido con nuestros
                        clientes.
                    </mat-card-title>
                    <br>
                    <table class="table-proyects">
                        <tr>
                            <td>
                                <p>
                                    <span class="letra-negrita">
                                        100+
                                    </span>
                                </p>
                                Software para ventas
                            </td>
                            <td>
                                <p>
                                    <span class="letra-negrita">
                                        480+
                                    </span>
                                </p>
                                Consultoria
                            </td>
                            <td>
                                <p>
                                    <span class="letra-negrita">600+</span>

                                </p>
                                Growth Hacking
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <p>
                                    <span class="letra-negrita">1000+</span>

                                </p>
                                Soporte Técnico
                            </td>
                            <td>
                                <p><span class="letra-negrita">600+</span></p>
                                Ciberseguridad
                            </td>
                            <td>
                                <p><span class="letra-negrita">500+</span></p>
                                Desarrollo de paginas web y apps
                            </td>
                        </tr>
                    </table>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <!-----------------------THDIR CONTENT-------------------------------------->
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Nuestros <span class="span-header">clientes</span>
        </mat-card-title>
    </mat-card-content>
    <mat-card-content>
        <table class="table-services" cellspacing="0" style="text-align: center;">
            <tr>
                Ellos nos eligieron para los acompañemos en el crecimiento continuo de sus PyMEs
            </tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-content>
        <mat-card class="cyber-card-client">
            <mat-card-title style="text-align: center;">
                Son 10 años de crecimiento y evolución, no es tiempo perdido, es tiempo aprendido con nuestros
                clientes.
            </mat-card-title>
            <br>
            <table class="table-proyects">
                <tr>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        COLORSHOP
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        GRAFICA NUEVO HORIZONTE
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        GRAFICA NEUQUEN
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        ALBAR MUEBLES
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        BASSIGNANI HERRAJES
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        MAR-FRAN REPUESTOS
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        HIT-FIT SUCURSAL NEUQUÉN
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        LA HERRADURA - SANTA FÉ
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        ROCO COCO
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        ROPA PATAGONIA
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        TU OBSEQUIO - CHUBUT
                    </td>
                    <td>
                        <p>
                            <mat-icon>change_history</mat-icon>
                        </p>
                        JUVENILIA
                    </td>
                </tr>
            </table>
        </mat-card>
    </mat-card-content>
    <br>
    <!--------------------------FOOTER----------------------------------->
    <mat-divider></mat-divider>
    <br>
    <mat-card-footer style="text-align: center;">
        <div class="example-header-logo-footer">
            <a button mat-button href="https://www.facebook.com/InitDev">
                <span class="iconify" data-icon="mdi-facebook" data-inline="false" style="color: #000000;" width="30px">
                </span>
            </a>
            <a button mat-button href="https://www.instagram.com/initdevsistemas/">
                <span class="iconify" data-icon="mdi-instagram" data-inline="false" style="color: #000000;"
                    width="30px"></span>
            </a>
        </div>
        © INIT. Todos los derechos reservados INIT
    </mat-card-footer>
</mat-card>