.main-card {
    max-width: 100%;
    align-self: center;
  }
  .example-header-logo {
    background-size: cover;
  }
.mat-display-1{
  font-family: inherit;
  font-weight: 600;
  font-size: 3.125rem;
  text-align: center;
}
.span-header{
  color: #eba308;
}
.mat-display-3{
  color: #eba308;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}
.mat-display-4{
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
}
.grid-tile-spacer{
  margin-top: auto;
}
.example-full-width {
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
}
.no-full-width {
  width: auto;
  color: #0f1011;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}
.table-content{
    width: 80%;
    color: #51585f;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
}
.table-services{
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
}
.table-services-main{
  width: 100%;
  padding: center;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.table-services-description{
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
.table-proyects{
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  text-align: center; 
}
td {
  padding-right: 8px;
}
.img {
  margin-top: auto;
  background-size: cover;
  max-width: 70%;
  height: auto;
 }
.img-content{
  margin-top: auto;
  background-size: cover;
  max-width: 50%;
  height: auto;
  border-style: none;
}
.example-header{
  font-size: 250%;
}
.about-button{
  background-color: #eba308;
  color: rgb(0, 0, 0);
  padding: 14px 26px;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
}
.cyber-card{
  max-width: 100%;
  padding: 5%;
}
.cyber-card-2{
  width: 100%;
  background-color: #dfc07c;
}
.cyber-card-proyect{
  width: auto;
  height: 200px;
  background-color: #dfc07c;
}
.cyber-card-client{
  width: auto;
  background-color: #dfc07c;
}
.header-card{
  color: #eba308;
}
.letra-negrita{
  color: rgb(0, 0, 0);
}
.mat-card-footer{
  font-family: inherit;
  font-weight: 600;
  font-size: 1.0rem;
  text-align: right;
  margin-block-end: auto;
}
.mat-card-footer{
  background-size: cover;
}
.example-header-logo-footer {
  background-size: cover;
}
.iconfy{
  background: url('https://api.iconify.design/mdi-instagram.svg') no-repeat center center / contain;
  background: url('https://api.iconify.design/mdi-facebook.svg') no-repeat center center / contain;
}

  