<mat-toolbar class="mat-elevation-z6">
    <span>
        <button mat-button class="example-button-row" routerLink="">
            <img src=".../../../../assets/icons/logo_initdev/with_alpha/positive/horizontal_positive_2.png" width="80px">
        </button>
    </span>

    <div class="example-spacer"></div>


    <a mat-button class="home-button" routerLink="">
        <img src="../../assets/icons/logo_initdev/shapes/d_arrow_up.png" width="15px"> Home
    </a>
    <a mat-button routerLink="about">
        <mat-icon>whatshot</mat-icon> Acerca de nosotros
    </a>
    <button mat-button [matMenuTriggerFor]="menu">Dropdown <img src="../../assets/icons/logo_initdev/shapes/d_arrow_down.png" width="15px"></button>   
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="services-component">Servicios</button>
        <button mat-menu-item routerLink="faqs-component">Preguntas Frecuentes</button>
        <button mat-menu-item routerLink="error-component">404</button>
        <button mat-menu-item routerLink="team-component">Nuestro Equipo</button>
        <button mat-menu-item routerLink="partners">Socios</button>
    </mat-menu>
    <a mat-button routerLink="contact">
        <mat-icon>contact_support</mat-icon> Contáctenos
    </a>
</mat-toolbar>