.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  font-family: inherit;
  font-weight: 600;
}
.mat-button{
  font-family: inherit;
  font-weight: 600;
}
.home-button{
  color: #eba308;
  font-family: inherit;
  font-weight: 600;
}