.main-card{
  max-width: 100%;
}
.mat-card-header{
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
}
.icon-home{
  width: 20px;
}
.span-header{
  color: #eba308;
}
.mat-display-1{
  font-family: inherit;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
.mat-display-2{
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  text-align: 100%;
}
.about-table{
  width: 100%;
  padding-left: 1%;
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
.about-card{
  width: 80%;
  height: 80%;
  background-color: #dfc07c;
}
.header-card{
  color: #eba308;
}
.header-image-about{
  background-image: url('../../../assets/icons/logo_initdev/person-team.jpg');
  background-size: cover;
}
.img-content{
  margin-top: auto;
  background-size: cover;
  width: 50%;
  height: auto;
  border-style: none;
}
.cyber-card-proyect{
  width: auto;
  height: 45%;
  background-color: #dfc07c;
}
.cyber-card{
  max-width: auto;
  text-align:left;
}
.table-proyects{
  width: 100%;
  color: #51585f;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  text-align: center; 
}
.table-services-main{
  width: 100%;
  padding-left: 1%;
  color: #51585f;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
td {
  padding-right: 8px;
}
.letra-negrita{
  color: rgb(0, 0, 0);
}
