<mat-card class="main-card">
    <mat-card-header>
        <p routerLink=""> <img src="../../assets/icons/logo_initdev/shapes/d_arrow_up.png" class="icon-home"> Home</p>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon matSuffix>whatshot</mat-icon><span class="span-header">Acerca de Nosotros</span>
    </mat-card-header>
    <br>
    <!-- ------------------------------------TITLE CONTENT-------------------------------------------------------- -->
    <mat-card-content>
        <mat-card-title class="mat-display-1">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Historia de <span class="span-header">Nosotros</span>
        </mat-card-title>
    </mat-card-content>
    <!--------------------------------------- MAIN CONTENT ----------------------------------------->
    <mat-card-content>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile>
                    <mat-card-content>
                        <table class="about-table" cellspacing="0">
                            <tr>
                                <mat-card-title class="mat-display-2">
                                    BIENVENIDO!!!
                                </mat-card-title>
                            </tr>
                            <tr>
                                <mat-card class="about-card">
                                    Nosotros empezamos como una pyme desde muy abajo, año a año nos fuimos superando en
                                    nuestra metas, siempre buscando crecer como equipo de trabajos junto a nuestros
                                    clientes.
                                </mat-card>
                            </tr>
                        </table>
                        <br>
                    </mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="text-align: right">
                        <img mat-card-image src="../../../assets/icons/logo_initdev/about.png" class="img">
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <!-- ---------------------------------------------------------------------------------------- -->
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Algunos de los proyectos <span class="span-header">realizados</span>
        </mat-card-title>
        <br>
    </mat-card-content>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div style="text-align: center;"><img src="../../../assets/icons/logo_initdev/contac-form.png"
                        class="img-content"></div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="cyber-card-proyect">
                    <mat-card-title style="text-align: center;">
                        Son 10 años de crecimiento y evolución, no es tiempo perdido, es tiempo aprendido con nuestros
                        clientes.
                    </mat-card-title>
                    <br>
                    <table class="table-proyects">
                        <tr>
                            <td>
                                <p>
                                    <span class="letra-negrita">
                                        100+
                                    </span>
                                </p>
                                Software para ventas
                            </td>
                            <td>
                                <p>
                                    <span class="letra-negrita">
                                        480+
                                    </span>
                                </p>
                                Consultoria
                            </td>
                            <td>
                                <p>
                                    <span class="letra-negrita">600+</span>

                                </p>
                                Growth Hacking
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <p>
                                    <span class="letra-negrita">1000+</span>

                                </p>
                                Soporte Técnico
                            </td>
                            <td>
                                <p><span class="letra-negrita">600+</span></p>
                                Ciberseguridad
                            </td>
                            <td>
                                <p><span class="letra-negrita">500+</span></p>
                                Desarrollo de paginas web y apps
                            </td>
                        </tr>
                    </table>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <!-- ------------------------------------------------------------------------------------------ -->
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Nuestro <span class="span-header">Equipo</span>
        </mat-card-title>
    </mat-card-content>
    <mat-card-content class="header-card">
        <table class="table-proyects" cellspacing="0" style="text-align: center;">
            <tr>
                Nuestros nuevos desarrolladores en este 2020
            </tr>
        </table>
        <br>
        <table class="table-services-main" cellspacing="0">
            <tr>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="header-image-about"></div>
                            <mat-card-title>Exequiel Wiedermann</mat-card-title>
                            <mat-card-subtitle>Socio Fundador</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <mat-card-content>
                            
                        </mat-card-content> -->
                    </mat-card>
                </td>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="header-image-about"></div>
                            <mat-card-title>Thomas Mora</mat-card-title>
                            <mat-card-subtitle>Programador FullStack</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="header-image-about"></div>
                            <mat-card-title>Nahuel Tello</mat-card-title>
                            <mat-card-subtitle>Programador FrontEnd</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <mat-card-content>
                            
                        </mat-card-content> -->
                    </mat-card>
                </td>
                <td>
                    <mat-card class="cyber-card">
                        <mat-card-header class="header-card">
                            <div mat-card-avatar class="header-image-about"></div>
                            <mat-card-title>Cristina Cantero</mat-card-title>
                            <mat-card-subtitle>Integrador WooComerce</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <mat-card-content>
                            
                        </mat-card-content> -->
                    </mat-card>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <br>
    <!-- --------------------------------------FOOTER---------------------------------------------- -->
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-footer style="text-align: center;">
        <div class="example-header-logo-footer">
            <a button mat-button href="https://www.facebook.com/InitDev">
                <span class="iconify" data-icon="mdi-facebook" data-inline="false" style="color: #000000;" width="30px">
                </span>
            </a>
            <a button mat-button href="https://www.instagram.com/initdevsistemas/">
                <span class="iconify" data-icon="mdi-instagram" data-inline="false" style="color: #000000;"
                    width="30px"></span>
            </a>
        </div>
        © INIT. Todos los derechos reservados INIT
    </mat-card-footer>

</mat-card>