.main-card {
    max-width: 100%;
    align-self: center;
}
.mat-card-header{
    color: #51585f;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
}
.icon-home{
  width: 20px;
}
.span-header{
    color: #eba308;
  }
.mat-display-1{
    font-family: inherit;
    font-weight: 600;
    font-size: 3.125rem;
    text-align: center;
}
.table-services{
    width: 100%;
    color: #51585f;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}
.table-services-main{
    width: 100%;
    padding-left: 1%;
    color: #51585f;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}
.cyber-card{
  max-width: 100%;
  padding: 5%;
}
.header-card{
  color: #eba308;
}

.mat-card-footer{
    font-family: inherit;
    font-weight: 600;
    font-size: 1.0rem;
    text-align: right;
    margin-block-end: auto;
  }
  .mat-card-footer{
    background-size: cover;
  }
  .example-header-logo-footer {
    background-size: cover;
  }
  .iconfy{
    background: url('https://api.iconify.design/mdi-instagram.svg') no-repeat center center / contain;
    background: url('https://api.iconify.design/mdi-facebook.svg') no-repeat center center / contain;
  }