<mat-card class="main-card">
    <mat-card-header>
        <p routerLink=""> <img src="../../assets/icons/logo_initdev/shapes/d_arrow_up.png" class="icon-home"> Home</p>
        <mat-icon>keyboard_arrow_right</mat-icon> Dropdown <div> <img
                src="../../../assets/icons/logo_initdev/shapes/d_arrow_down.png" class="icon-home"></div>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <mat-icon matSuffix>assessment</mat-icon><span class="span-header"> Servicios</span>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title class="mat-display-1" style="text-align: center;">
            <img src="../../../assets/icons/logo_initdev/logo.png" width="50px">
            Nuestros <span class="span-header">Servicios</span>
        </mat-card-title>
    </mat-card-content>
    <mat-card-content>
        <table class="table-services" cellspacing="0" style="text-align: center;">
            <tr>
                Nuestros nuevos servicios en este 2020, y los que vendrán para el 2021
            </tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-content>
        <table class="table-services-main" cellspacing="0">
            <tr>
                <mat-card class="cyber-card">
                    <mat-card-header class="header-card">
                        <div mat-card-avatar class="example-header-icon">
                            <mat-icon>insert_chart_outlined</mat-icon>
                        </div>
                        <mat-card-title>Ciberseguridad</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Somos una pyme Certificada en Ciberseguridad en la zona de Neuquén y Rio Negro
                        </p>
                    </mat-card-content>
                </mat-card>
            </tr>
            <br>
            <tr>
                <mat-card class="cyber-card">
                    <mat-card-header class="header-card">
                        <div mat-card-avatar class="example-header-icon">
                            <mat-icon>monetization_on</mat-icon>
                        </div>
                        <mat-card-title>Growth Hacking / Soluciones Creativas</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Estamos Certificado en programar soluciones creativas para resolver problemas de la vida
                            real
                        </p>
                    </mat-card-content>
                </mat-card>
            </tr>
            <br>
            <tr>
                <mat-card class="cyber-card">
                    <mat-card-header class="header-card">
                        <div mat-card-avatar class="example-header-icon">
                            <mat-icon>highlight</mat-icon>
                        </div>
                        <mat-card-title>Machine Learning</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Cuyo objetivo es desarrollar técnicas que permitan que las computadoras aprendan
                        </p>
                    </mat-card-content>
                </mat-card>
            </tr>
        </table>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-footer style="text-align: center;">
        <div class="example-header-logo-footer">
            <a button mat-button href="https://www.facebook.com/InitDev">
                <span class="iconify" data-icon="mdi-facebook" data-inline="false" style="color: #000000;" width="30px">
                </span>
            </a>
            <a button mat-button href="https://www.instagram.com/initdevsistemas/">
                <span class="iconify" data-icon="mdi-instagram" data-inline="false" style="color: #000000;"
                    width="30px"></span>
            </a>
        </div>
        © INIT. Todos los derechos reservados INIT
    </mat-card-footer>
</mat-card>